body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  height: 300px;
  min-width: 320px;
  background-color: black; 
  color: rgb(224, 221, 221);
}
.title {
  font-family: 'Permanent Marker', cursive;
  font-weight: 900;
  font-size: 4rem;
  line-height: 0.5;
  opacity: 0;
  margin: 0;
}
.text {
  font-family: 'Permanent Marker', cursive;
  font-size: 1.5rem;
  opacity: 0;
  margin-top: 5rem
}
.underline{
  border-top: 1px solid rgb(224, 221, 221);
  width: 6.8rem;
  margin-top: -25px;
  opacity: 0
}
a {
  color: inherit;
  text-decoration: none;
}
.letter {
  display: inline-block;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 640px) {
  .title {
    font-size: 6rem
  }
  .text {
    font-size: 1.8rem
  }
  .underline {
    width: 8rem
  }
}

@media (min-width: 1024px) {
  .title {
    font-size: 7rem
  }
  .text {
    font-size: 2rem
  }
  .underline {
    width: 9rem
  }
}